
#index {
    background: url('../images/fullpage.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    /*background-color: #fff;*/
    background: #eee !important;
    color: #1b1b1b;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin: 2% 5% 0;
}
p {
    font-size: 1.25em;
}
select, input {
    font-size: 0.875em;
}
table {
    max-width: 1000px;
    border-collapse: collapse;
    border: 1px solid #c9c9c9;
    margin: 0 auto 20px 50px;
}
th {
    background-color: #ddd;
    color: #555;
    padding: 0.5em 1em;
    text-align: left;
}
td {
    vertical-align: top;
    padding: 0.25em 1em;
}
tr {
    border-bottom: 1px solid #c9c9c9;
}
tr:nth-child(even) {
    background-color: #e7edf6;
}
fieldset {
    border: none;
    margin-left: 50px;
    padding: 1px 0;
}
fieldset p {
    margin: 0.5em 0 0.5em 30px;
}
legend {
    font-variant: small-caps;
    font-size: 1.5em;
}
h2 {
    margin: 0.5em 0;
}
h2 + p {
    margin: 0 0 0 40px;
}

.wrapper {
  margin-top: 70px;
  margin-bottom: 70px;
}

#attmon {
    margin-top: 40px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.checkbox {
    padding-left: 20px;
}


